* {
	font-family: sans-serif;
	font-size: 20px;
}

#paragraph-3 {
	color: yellow;
}

h1 {
	font-size: 50px;
}

#header-2 {
	text-transform: uppercase;
}

.languages-list {
	background-color: lightgreen;
}

li[class="tools-list"] {
	border-width: 2px;
	border-style: solid;
	border-color: cadetblue;
}

img + ul {
	list-style-type: none;
}

section img {
	height: 120px;
	width: 120px;
	border-radius: 300px;
}

img ~ p {
	text-align: center;
}

body > section > ul > li {
	letter-spacing: 10px;
}